extends ../../common/layouts/basic.pug

block content
  p
  p Hello #{ctx.user.firstname + ' ' + ctx.user.lastname},
  p We have recevied a reset password request. If you did not initiate this request, then please ignore this message.
  p To reset your password, please click on the link below or cut and paste it into your browser address bar.
  p <a href="#{ctx.url}">#{ctx.url}</a>
  p After changing your password, you’ll receive a confirmation email from us.
  p
  p Thanks,
  p Support Team at Serviceo
